// Vista mobile
@media only screen and (min-width:0px) and (max-width:767px) {
    // Sección iconos de contactos
    .contacto--icon {
        font-size: 3rem;
		color: $palido;
		text-align: center;
        &:hover {
            transform: scale(1.1);
        }
    }
    // Sección formulario de contacto
    .form__contacto {
        width: auto;
        height: auto;
        background: #fffffa;
        box-shadow: 12px 13px 20px $palido;
        padding: 10px;
        border-radius: 20px;
        border-top: 5px solid $palido;
        color: rosybrown;
        margin: 10px 15px 30px 15px;
        h5 {
            text-align: center;
            font-size: 1.1rem;
            font-family: $fuente2;
            height: 50px;
            margin: 10px 0;
            border-bottom: 3px solid $palido;
        }
        input, select, textarea {
            border: 2px solid $palido;
        }
    }
    // Datos personales
    .form--datos {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px 5px;
        font-size: 1rem;
    }
    .fechaNacimiento {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-bottom: 10px;
    }
    .sexo {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-bottom: 10px;
    }
    .intereses {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .newsletters {
        display: flex;
        flex-direction: column;
    }
    // Botones de formulario
    .form--boton {
        width: 30%;
        height: 30px;
        border: none;
        border-radius: 5px;
        background: $palido;
        color: $escarcha;
        font-size: 1rem;
        text-align: center;
        margin-top: 20px;
        &:hover {
            background: $beigeOscuro;
            color: $palido;
        }
    }
}

// Vista tablet
@media only screen and (min-width:768px) and (max-width:1239px) {
    // Sección iconos de contactos
    .contacto--icon {
        font-size: 3.5rem;
		color: $palido;
		text-align: center;
        &:hover {
            transform: scale(1.1);
        }
    }
    // Sección formulario de contacto
    .form__contacto {
        width: 650px;
        height: auto;
        background: #fffffa;
        margin: 10px auto 30px auto;
        box-shadow: 12px 13px 20px $palido;
        padding: 10px 20px;
        border-radius: 20px;
        border-top: 5px solid $palido;
        color: rosybrown;
        h5 {
            text-align: center;
            font-size: 1.5rem;
            font-family: $fuente2;
            height: 50px;
            margin: 10px 0;
            border-bottom: 3px solid $palido;
        }
        input, select, textarea {
            border: 2px solid $palido;
        }
    }
    // Datos personales
    .form--datos {
        width: 48%;
        margin-bottom: 10px;
        padding: 10px 5px;
        font-size: 1rem;
    }
    // Sección datos personales con grid
    .form--grid {
        display: grid;
        grid-template-areas: 
        "nacimiento sexo"
        "intereses newsletters";
        grid-row-gap: 20px;
    }
    .fechaNacimiento {
        grid-area: nacimiento;
        display: flex;
        flex-direction: column;
        width: 60%;
    }
    .sexo {
        grid-area: sexo;
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .intereses {
        grid-area: intereses;
        display: flex;
        flex-direction: column;
    }
    .newsletters {
        grid-area: newsletters;
        display: flex;
        flex-direction: column;
    }
    // Botones de formulario
    .form--boton {
        width: 30%;
        height: 30px;
        border: none;
        border-radius: 5px;
        background: $palido;
        color: $escarcha;
        font-size: 1rem;
        text-align: center;
        margin: 15px 0;
        &:hover {
            background: $beigeOscuro;
            color: beige;
        }
    }
}

// Vista desktop
@media only screen and (min-width:1240px) {
    // Sección iconos de contactos
    .contacto--icon {
        font-size: 4rem;
		color: $palido;
		text-align: center;
        &:hover {
            transform: scale(1.1);
        }
    }
    // Sección formulario de contacto
    .form__contacto {
        width: 750px;
        height: auto;
        background: #fffffa;
        margin: 10px auto 40px auto;
        box-shadow: 12px 13px 20px $palido;
        padding: 10px 20px;
        border-radius: 20px;
        border-top: 5px solid $palido;
        color: rosybrown;
        h5 {
            text-align: center;
            font-size: 1.5rem;
            font-family: $fuente2;
            height: 50px;
            margin: 10px 0;
            border-bottom: 3px solid $palido;
        }
        input, select, textarea {
            border: 2px solid $palido;
        }
    }
    // Datos personales
    .form--datos {
        width: 48%;
        margin-bottom: 10px;
        padding: 10px 5px;
        font-size: 1rem;
    }
    // Sección datos personales con grid
    .form--grid {
        display: grid;
        grid-template-areas: 
        "nacimiento sexo"
        "intereses newsletters";
        grid-row-gap: 20px;
    }
    .fechaNacimiento {
        grid-area: nacimiento;
        display: flex;
        flex-direction: column;
        width: 60%;
    }
    .sexo {
        grid-area: sexo;
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .intereses {
        grid-area: intereses;
        display: flex;
        flex-direction: column;
    }
    .newsletters {
        grid-area: newsletters;
        display: flex;
        flex-direction: column;
    }
    // Botones de formulario
    .form--boton {
        width: 30%;
        height: 30px;
        border: none;
        border-radius: 5px;
        background: $palido;
        color: $escarcha;
        font-size: 1rem;
        text-align: center;
        margin: 20px 0;
        &:hover {
            background: $beigeOscuro;
            color: $palido;
        }
    }
}