// Vista mobile
@media only screen and (min-width:0px) and (max-width:767px) {
    // =========== Pie de página ===========
	.foo {
		height: auto;
		border-top: 2px solid rgb(249, 241, 240);
		padding: 0 40px 20px 40px;
		margin-top: 10px;
	}
	// Texto encabezados pie de página
	.foo__text {
		color: #907369;
		font-size: 1rem;
		font-family: 'Noto Sans TC', sans-serif;
		text-align: center;
		padding-top: 15px;
	}
	// Listas del pie de página
	.foo__list {
		padding: 0;
		margin: 0 px;
		text-align: center;
		border-bottom: 2px solid rgb(249, 241, 240);
		li {
			list-style-type: none;
			color: rosybrown;
			font-size: 1rem;
			a {
				text-decoration: none;
				color: rosybrown;
				&:hover {
					padding-left: 10px;
				}
			}
		}
	}
	// Iconos redes sociales
	.foo__redes--icon {
		font-size: 2.5rem;
		text-align: center;
		a {
			text-decoration: none;
			color: #907369;
		}
	}
	/* // Transiciones/animaciones redes sociales footer */
	.transicionFB:hover {
		color: #007BFF;
		transition: 1s;
	}
	.transicionIG:hover {
		color: #E83E8C;
		transition: 1s;
	}
	.transicionWA:hover {
		color: #25D366;
		transition: 1s;
	}
	// =========== COPY ===========
	// Footer copy
	.foo__copy {
		background: rgb(249, 241, 240);
		padding: 15px 40px;
		// Texto copy pie de página
		p {
			color: #907369;
			font-size: 1.2rem;
			font-family: 'Noto Sans TC', sans-serif;
			text-align: center;
			margin: 0;
		}
	}
}

// Vista tablet
@media only screen and (min-width:768px) and (max-width:1239px) {
    // =========== Pie de página ===========
	.foo {
		height: auto;
		border-top: 2px solid rgb(249, 241, 240);
		padding: 20px 40px 20px 60px;
		margin-top: 10px;
	}
	// Texto encabezados pie de página
	.foo__text {
		color: #907369;
		font-family: 'Noto Sans TC', sans-serif;
	}
	// Listas del pie de página
	.foo__list {
		padding: 0;
		li {
			list-style-type: none;
			color: rosybrown;
			font-size: 1rem;
			a {
				text-decoration: none;
				color: rosybrown;
				&:hover {
					padding-left: 10px;
				}
			}
		}
	}
	// Iconos redes sociales
	.foo__redes--icon {
		font-size: 2.5rem;
		a {
			text-decoration: none;
			color: #907369;
		}
	}
	// Transiciones/animaciones redes sociales footer
	.transicionFB:hover {
		color: #007BFF;
		transition: 1s;
	}
	.transicionIG:hover {
		color: #E83E8C;
		transition: 1s;
	}
	.transicionWA:hover {
		color: #25D366;
		transition: 1s;
	}
	// =========== COPY ===========
	// Footer copy
	.foo__copy {
		background: rgb(249, 241, 240);
		padding: 15px 40px 15px 40px;
		// Texto copy pie de página
		p {
			color: #907369;
			font-size: 1.2rem;
			font-family: 'Noto Sans TC', sans-serif;
			text-align: center;
			margin: 0;
		}
	}
}

// Vista desktop
@media only screen and (min-width:1240px) {
	// =========== Pie de página ===========
    .foo {
        height: 200px;
        border-top: 2px solid rgb(249, 241, 240);
        padding: 20px 50px 20px 140px;
		margin-top: 15px;
    }
    // Texto encabezados pie de página
    .foo__text {
        color: #907369;
        font-family: 'Noto Sans TC', sans-serif;
    }
    // Listas del pie de página
    .foo__list {
        padding: 0;
		li {
			list-style-type: none;
			color: rosybrown;
			font-size: 1rem;
			a {
				text-decoration: none;
				color: rosybrown;
				&:hover {
					padding-left: 15px;
				}
			}
		}
    }
    // Iconos redes sociales
	.foo__redes--icon {
		font-size: 2.5rem;
		a {
			text-decoration: none;
			color: #907369;
		}
	}
	// Transiciones/animaciones redes sociales footer
	.transicionFB:hover {
		color: #007BFF;
        transition: 1s;
	}
	.transicionIG:hover {
		color: #E83E8C;
		transition: 1s;
	}
	.transicionWA:hover {
		color: #25D366;
		transition: 1s;
	}
    // =========== COPY ===========
	// Footer copy
	.foo__copy {
		background: rgb(249, 241, 240);
		padding: 15px 40px;
		// Texto copy pie de página
		p {
			color: #907369;
			font-size: 1.2rem;
			font-family: 'Noto Sans TC', sans-serif;
			text-align: center;
			margin: 0;
		}
	}
}