@import "variables";

// Reset
* {
	margin: 0;
	padding: 0;
}
// 1 rem = 10px
html {
	font-size: 62,5%;
}
// Fondo - Cuerpo de la web
body {
    background-color: #fffffa;
}
// Contenedor padre
.contenedor--fluid {
    width: 100%;
    overflow-x: hidden;
}

// Vista mobile
@media only screen and (min-width:0px) and (max-width:767px) {
    // Tamaños de fuentes
    $size: (
        h2: 1.5rem,
        h4: 1.2rem,
        h3: 1.4rem,
    );
    // Títulos
    h2 {
        font-size: map-get($size, h2);
        font-family: $fuente1;
        color: $escarcha;
        margin-bottom: 5px;
    }
    // Nombre de productos
    h4 {
        font-size: map-get($size, h4);
        font-family: $fuente1;
        color: rosybrown;
        margin-top: 15px;
    }
    // Linea divisoria
    .linea--division {
        width: 80%;
        height: 2px;
        background-color: $palido;
        margin: auto;
        margin-bottom: 15px;
    }
    // Padding
    .padding {
        padding: 0px 10px;
    }
    // Cuadro con comentario
    .comentario--box {
        padding: 50px 0px;
        background-color: rgba(233, 221, 212, 0.8);
        h3 {
            font-size: map-get($size, h3);
            font-family: $fuente2;
            color: rosybrown;
            text-align: center;
            margin: 0px;
        }
    }
}

// Vista tablet
@media only screen and (min-width:768px) and (max-width:1239px) {
    // Tamaños de fuentes
    $size: (
        h2: 1.8rem,
        h4: 1.5rem,
        h3: 1.4rem,
    );
    // Títulos
    h2 {
        font-size: map-get($size, h2);
        font-family: $fuente1;
        color: $escarcha;
        margin-bottom: 5px;
    }
    // Nombre de productos
    h4 {
        font-size: map-get($size, h4);
        font-family: $fuente1;
        color: rosybrown;
        text-align: center;
        margin-top: 15px;
    }
    // Linea divisoria
    .linea--division {
        width: 80%;
        height: 2px;
        background-color: $palido;
        margin: auto;
        margin-bottom: 20px;
    }
    // Padding
    .padding {
        padding: 0px 40px;
    }
    // Cuadro con comentario
    .comentario--box {
        padding: 40px 0px;
        background-color: rgba(233, 221, 212, 0.8);
        h3 {
            font-size: map-get($size, h3);
            font-family: $fuente2;
            color: rosybrown;
            text-align: center;
            margin: 0px;
        }
    }
}

// Vista desktop
@media only screen and (min-width:1240px) {
    // Tamaños de fuentes
    $size: (
        h2: 1.8rem,
        h4: 1.2rem,
        h3: 2rem,
    );
	// Títulos
    h2 {
        font-size: map-get($size, h2);
        font-family: $fuente1;
        color: $escarcha;
        margin-bottom: 5px;
    }
    // Nombre de productos
    h4 {
        font-size: map-get($size, h4);
        font-family: $fuente1;
        color: rosybrown;
        margin-top: 10px;
    }
    // Linea divisoria
    .linea--division {
        width: 50%;
        height: 2px;
        background-color: $palido;
        margin: auto;
        margin-bottom: 20px;
    }
    // Padding
    .padding {
        padding: 0px 70px;
    }
    // Cuadro con comentario
    .comentario--box {
        padding: 45px 0px;
        background-color: rgba(233, 221, 212, 0.8);
        text-align: center;
        h3 {
            font-size: map-get($size, h3);
            font-family: $fuente2;
            color: rosybrown;
            margin: 0px;
        }
    }
}