@import "variables";

// Fondo encabezado
header {
    background: rgb(249, 241, 240);
    position: fixed;
    width: 100%;
    z-index: 1;
}
// Margen del contenido 
.contenido {
    margin-top: 120px;
}
// Logo
.imgLogo {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

// Vista mobile
@media only screen and (min-width:0px) and (max-width:767px) {
    // Navbar posición
    .navbar-fixed {
        position: fixed;
        top: 24px;
        right: 20px;
    }
    .navbar-expansor {
        position: relative;
        top: 70px;
        text-align: right;
        height: 280px;
    }
    // Encabezado de página con flex
    .header__nav--flex {
        @include justify__content--between;
        padding: 0 20px;
        box-shadow: 1px 0px 20px 5px $palido;
    }
    // Lista de navegacion
    .nav__link {
        font-size: $textoMedio;
        font-family: $fuente2;
        padding: 5px 10px;
        a {
            color: $escarcha;
            text-decoration: none;
            @include nav-decoracion;
            transition: background-size 0s;
            &:hover, &:focus {
                background-size: 100% 2px;
            }
        }
    }
}
// Vista tablet
@media only screen and (min-width:768px) and (max-width:1239px) {
    // Navbar posición
    .navbar-fixed {
        position: fixed;
        top: 24px;
        right: 40px;
    }
    .navbar-expansor {
        position: relative;
        top: 70px;
        text-align: right;
        height: 280px;
    }
    // Encabezado de página con flex
    .header__nav--flex {
        @include justify__content--between;
        padding: 0 40px;
        box-shadow: 1px 0px 20px 5px $palido;
    }
    // Lista de navegacion
    .nav__link {
        font-size: $textoMedio;
        font-family: $fuente2;
        padding: 5px 10px;
        a {
            color: $escarcha;
            text-decoration: none;
            @include nav-decoracion;
            transition: background-size 0s;
            &:hover, &:focus {
                background-size: 100% 2px;
            }
        }
    }
}
// Vista desktop
@media only screen and (min-width:1240px) {
    // Encabezado de página con flex
    .header__nav--flex {
        @include justify__content--between;
        padding: 0 70px;
        box-shadow: 1px 0px 20px 5px $palido;
    }
    // Lista de navegacion
    .nav__link {
        font-size: $textoMedio;
        font-family: $fuente2;
        padding: 0px 15px;
        a {
            color: $escarcha;
            text-decoration: none;
            padding-bottom: 10px;
            @include nav-decoracion;
            transition: background-size .3s;
            &:hover, &:focus {
                background-size: 100% 2px;
            }
        }
    }
}