// Vista mobile
@media only screen and (min-width:0px) and (max-width:767px) {
    // Nosotros index 
    .index--nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 1.5rem;
            font-family: 'Source Sans Pro', sans-serif;
            color: $escarcha;
            text-transform: uppercase;
            text-align: center;
            padding-bottom: 10px;
            border-bottom: 2px solid $palido;
            width: 260px;
        }
        span {
            width: 295px;
            margin: 10px;
            text-align: justify;
            font-size: 1rem;
            color: rosybrown;
        }
    }
    // Sección catálogo
    .flex-sm-catalogo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* Etiqueta nuevo catálogo */
    .etiqueta--new {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1.2rem;
        line-height: 1;
        border-radius: 5px;
        background-color: $beigeOscuro;
        color: $palido;
    }
	// Eliminar imagen catalogo index
	.imgCatalogo {
		display: none;
	}
    // Sección catálogos
    .catalogo--box {
        background-color: rgba(233, 221, 212, 0.8);
        margin-bottom: 10px;
        padding: 10px 30px;
        text-align: center;
        a {
            font-size: 1.2rem;
            font-family: 'Noto Sans TC', sans-serif;
            color: rosybrown;
            text-decoration: none;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size;
            &:hover {
                background-size: 100% 2px;
            }
        }
    }
}

// Vista tablet
@media only screen and (min-width:768px) and (max-width:1239px) {
    // Nosotros index 
    .index--nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 1.5rem;
            font-family: 'Source Sans Pro', sans-serif;
            color: $escarcha;
            text-transform: uppercase;
            text-align: center;
            padding: 65px 0px 10px 0px;
            border-bottom: 2px solid $palido;
            width: 260px;
        }
        span {
            width: 300px;
            margin-top: 10px;
            text-align: justify;
            font-size: 1rem;
            color: rosybrown;
        }
    }
    // Etiqueta nuevo catálogo
    .etiqueta--new {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1.2rem;
        line-height: 1;
        border-radius: 5px;
        background-color: $beigeOscuro;
        color: $palido;
    }
    // Eliminar imagen catalogo index
	.imgCatalogo {
		display: none;
	}
    // Sección catálogos
    .catalogo--box {
        background-color: rgba(233, 221, 212, 0.8);
        margin-bottom: 10px;
        padding: 10px 30px;
        text-align: center;
        a {
            font-size: 1.2rem;
            font-family: 'Noto Sans TC', sans-serif;
            color: rosybrown;
            text-decoration: none;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size;
            &:hover {
                background-size: 100% 2px;
            }
        }
    }
}

// Vista desktop
@media only screen and (min-width:1240px) {
    // Nosotros index 
    .index--nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 1.5rem;
            font-family: 'Source Sans Pro', sans-serif;
            color: $escarcha;
            text-transform: uppercase;
            text-align: center;
            padding: 65px 0px 10px 0px;
            border-bottom: 2px solid $palido;
            width: 310px;
        }
        span {
            padding: 10px 100px 0px 100px;
            text-align: justify;
            font-size: 1.2rem;
            color: rosybrown;
            width: 720px;
        }
    }
    // Etiqueta nuevo
    .etiqueta--new {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1.2rem;
        line-height: 1;
        border-radius: 5px;
        background-color: $beigeOscuro;
        color: $palido;
    }
    // Sección catálogos
    .catalogo--box {
        background-color: rgba(233, 221, 212, 0.5);
        margin: 5px;
        padding: 30px;
        text-align: center;
        a {
            font-size: 1.2rem;
            font-family: 'Noto Sans TC', sans-serif;
            color: rosybrown;
            text-decoration: none;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size;
            &:hover {
                background-size: 100% 2px;
            }
        }
    }
}