@import "variables";

// Vista mobile
@media only screen and (min-width:0px) and (max-width:767px) {
    // Nosotros index 
    .index--nosotros {
        @include flex-column-align-center;
        h1 {
            font-size: $textoMayor;
            font-family: $fuente1;
            color: $escarcha;
            text-transform: uppercase;
            text-align: center;
            padding-bottom: 10px;
            border-bottom: 2px solid $palido;
            width: 260px;
        }
        span {
            width: 290px;
            margin: 10px;
            text-align: justify;
            font-size: $textoMenor;
            font-family: $fuente2;
            color: rosybrown;
        }
    }
    // Sección asesoramiento
    .asesoramiento--box {
        background-color: rgba(233, 221, 212, 0.5);
        padding: 25px 5px;
        margin: 20px 0px;
        text-align: center;
        p {
            font-size: $textoMenor;
            font-family: $fuente2;
            color: rosybrown;
            margin-top: 1rem;
            padding: 0px 5px;
        }
    }
    /* Etiqueta nuevo catálogo */
    .etiqueta--new {
        display: inline-block;
        padding: 10px 20px;
        font-size: $textoMedio;
        line-height: 1;
        border-radius: 5px;
        background-color: $beigeOscuro;
        color: $palido;
    }
	// Eliminar imagen catalogo index
	.imgCatalogo {
		display: none;
	}
    // Sección catálogos
    .catalogo--box {
        background-color: rgba(233, 221, 212, 0.8);
        margin: 0px 80px 10px 80px;
        padding: 10px 5px;
        text-align: center;
        a {
            font-size: $textoMedio;
            font-family: $fuente2;
            color: rosybrown;
            text-decoration: none;
            @include nav-decoracion;
            transition: background-size;
            &:hover {
                background-size: 100% 2px;
            }
        }
    }
}

// Vista tablet
@media only screen and (min-width:768px) and (max-width:991px) {
    // Nosotros index 
    .index--nosotros {
        height: 100%;
        @include flex-column-justify-center;
        h1 {
            font-size: $textoMayor;
            font-family: $fuente1;
            color: $escarcha;
            text-transform: uppercase;
            text-align: center;
            margin-top: 20px;
            padding-bottom: 10px;
            padding-right: 30px;
        }
        span {
            padding-right: 30px;
            text-align: justify;
            font-size: $textoMenor;
            font-family: $fuente2;
            color: rosybrown;
        }
    }
    // Sección asesoramiento
    .asesoramiento--box {
        background-color: rgba(233, 221, 212, 0.5);
        padding: 30px 0px;
        margin: 20px 0px;
        text-align: center;
        p {
            font-size: $textoMenor;
            font-family: $fuente2;
            color: rosybrown;
            margin-top: 1rem;
            padding: 0px 5px;
        }
    }
    // Etiqueta nuevo catálogo
    .etiqueta--new {
        display: inline-block;
        padding: 10px 20px;
        font-size: $textoMedio;
        line-height: 1;
        border-radius: 5px;
        background-color: $beigeOscuro;
        color: $palido;
    }
    // Eliminar imagen catalogo index
	.imgCatalogo {
		display: none;
	}
    // Posición PDF catálogo
    .catalogo--posicion {
        height: 100%;
        @include flex-column-justify-center;
    }
    // Sección catálogos
    .catalogo--box {
        background-color: rgba(233, 221, 212, 0.8);
        padding: 10px;
        margin: 5px 70px;
        text-align: center;
        a {
            font-size: $textoMedio;
            font-family: $fuente2;
            color: rosybrown;
            text-decoration: none;
            @include nav-decoracion;
            transition: background-size;
            &:hover {
                background-size: 100% 2px;
            }
        }
    }
}

// Vista desktop
@media only screen and (min-width:992px) {
    // Parralax
    .index--parralax {
        background-image: url("../assets/img/parralax.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        margin-bottom: 40px;
        opacity: 0.8;
        box-shadow: 0 -20px 20px 0 #fffffa inset;
        h1 {
            padding: 150px 60px 0px 60px;
            font-size: 5rem;
            font-family: $fuente1;
            color: $escarcha;
            text-align: center; 
            text-shadow: 0 -5px 20px;
        }
        p {
            font-size: $textoMayor;
            font-family: $fuente1;
            color: $escarcha;
            text-shadow: 0 -5px 20px whitesmoke;
            text-align: center;
        }
    }
    // Nosotros index 
    .index--nosotros {
        height: 100%;
        @include flex-column-justify-center;
        h1 {
            font-size: $textoMayor;
            font-family: $fuente1;
            color: $escarcha;
            text-align: center;
            text-transform: uppercase;
            padding-bottom: 10px;
            padding-right: 40px;
        }
        span {
            padding-right: 40px;
            text-align: justify;
            font-size: $textoMedio;
            font-family: $fuente2;
            color: rosybrown;
        }
    }
    // Sección asesoramiento
    .asesoramiento--box {
        background-color: rgba(233, 221, 212, 0.5);
        padding: 30px 0px;
        margin: 20px 0px;
        text-align: center;
        p {
            font-size: $textoMedio;
            font-family: $fuente2;
            color: rosybrown;
            margin-top: 1rem;
            padding: 0px 5px;
        }
    }
    // Etiqueta nuevo
    .etiqueta--new {
        display: inline-block;
        padding: 10px 20px;
        font-size: $textoMedio;
        line-height: 1;
        border-radius: 5px;
        background-color: $beigeOscuro;
        color: $palido;
    }
    // Posición PDF catálogo
    .catalogo--posicion {
        height: 100%;
        @include flex-column-justify-center;
    }
    // Sección catálogos
    .catalogo--box {
        background-color: rgba(233, 221, 212, 0.5);
        margin: 5px 25px;
        padding: 15px;
        text-align: center;
        a {
            font-size: $textoMedio;
            font-family: $fuente2;
            color: rosybrown;
            text-decoration: none;
            @include nav-decoracion;
            transition: background-size;
            &:hover {
                background-size: 100% 2px;
            }
        }
    }
}