// Vista mobile
@media only screen and (min-width:0px) and (max-width:767px) {
    // Texto index
    .index__texto {
        width: 350px;
        margin: 10px;
        text-align: justify;
        font-size: 1rem;
        color: rosybrown;
    }
    // Imagen nosotros
    .nosotros--img {
        max-width: 50%;
        height: auto;
    }
    // Sección catálogo
    .flex-sm-catalogo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* Etiqueta nuevo catálogo */
    .etiqueta--new {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1.2rem;
        line-height: 1;
        border-radius: 5px;
        background-color: #B49C94;
        color: #E9DDD4;
    }
	// Eliminar imagen catalogo index
	.imgCatalogo {
		display: none;
	}
    // Sección catálogos
    .catalogo--box {
        background-color: rgba(233, 221, 212, 0.8);
        margin-bottom: 10px;
        padding: 10px 30px;
        text-align: center;
        a {
            font-size: 1.2rem;
            font-family: 'Noto Sans TC', sans-serif;
            color: rosybrown;
            text-decoration: none;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size;
            &:hover {
                background-size: 100% 2px;
            }
        }
    }
}

// Vista tablet
@media only screen and (min-width:768px) and (max-width:1239px) {
    // Texto index
    .index__texto {
        width: 295px;
        margin-top: 10px;
        text-align: justify;
        font-size: 1rem;
        color: rosybrown;
    }
    // Imagen nosotros
    .nosotros--img {
        max-width: 60%;
        height: auto;
    }
    // Etiqueta nuevo catálogo
    .etiqueta--new {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1.2rem;
        line-height: 1;
        border-radius: 5px;
        background-color: #B49C94;
        color: #E9DDD4;
    }
    // Eliminar imagen catalogo index
	.imgCatalogo {
		display: none;
	}
    // Sección catálogos
    .catalogo--box {
        background-color: rgba(233, 221, 212, 0.8);
        margin-bottom: 10px;
        padding: 10px 30px;
        text-align: center;
        a {
            font-size: 1.2rem;
            font-family: 'Noto Sans TC', sans-serif;
            color: rosybrown;
            text-decoration: none;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size;
            &:hover {
                background-size: 100% 2px;
            }
        }
    }
}

// Vista desktop
@media only screen and (min-width:1240px) {
    // Texto index
    .index__texto {
        padding: 10px 100px 0px 100px;
        text-align: justify;
        font-size: 1.2rem;
        color: rosybrown;
        width: 720px;
    }
    // Imagen nosotros
    .nosotros--img {
        max-width: 40%;
        height: auto;
    }
    // Etiqueta nuevo
    .etiqueta--new {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1.2rem;
        line-height: 1;
        border-radius: 5px;
        background-color: #B49C94;
        color: #E9DDD4;
    }
    // Sección catálogos
    .catalogo--box {
        background-color: rgba(233, 221, 212, 0.5);
        margin: 5px;
        padding: 30px;
        text-align: center;
        a {
            font-size: 1.2rem;
            font-family: 'Noto Sans TC', sans-serif;
            color: rosybrown;
            text-decoration: none;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size;
            &:hover {
                background-size: 100% 2px;
            }
        }
    }
}