@import "variables";

// Vista mobile
@media only screen and (min-width:0px) and (max-width:767px) {
    // Productos tienda
    .producto__item {
        border: 1px solid $palido  ;
        border-radius: 10px;
        padding-bottom: 10px;
        margin: 0 20px 20px 20px;
        transition: all 500ms ease-out;
        min-height: 420px;
        &:hover {
            box-shadow: 0px 2px 15px 10px $palido;
        }
    }
    // Productos con flex
    .producto__item--flex {
        @include flex-column-align-center;
    }
    // Precio producto
    .producto__item--price {
        font-size: $textoMenor;
		font-family: $fuente2;
        color: $beigeOscuro;
        margin-bottom: 15px;
    }
    // Botón agregar al carrito
    .producto__item--btn {
        background: $palido;
        font-size: $textoMenor;
        color: $escarcha;
        text-decoration: none;
        text-align: center;
        height: 30px;
        width: 150px;
        margin-bottom: 15px;
        border-radius: 5px;
        &:hover {
            background: $beigeOscuro;
            color: beige;
        }
    }
    // Cuerpo información producto
    .producto__item:hover > .producto__desvanecer--body {
        opacity: 1;
    }
    // Información de producto
    .producto__desvanecer--body {
        opacity: 0;
        position: absolute;
    }
    .producto__desvanecer--info {
        background-image: linear-gradient(135deg, $crema 0%, $palido 100%);
        padding: 40px 20px;
        border-radius: 10px;
        min-height: 420px;
        h4 {
            max-width: 250px;
            border-bottom: 2px solid $rosaPolvo;
            padding-bottom: 5px;
        }
        ul {
            padding: 0;
            li {
                max-width: 250px;
                list-style: none;
                color: rosybrown;
                font-family: $fuente2;
                font-size: $textoMenor;
                text-align: justify;
            }
        }
    }
    // Etiqueta marca del producto
    .producto--etiqueta {
        display: inline-block;
        padding: 5px 10px;
        font-size: $textoMenor;
        line-height: 1;
        background-color: $rosaPolvo;
        color: $crema;
        border-radius: 0px 10px 0px 0px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 5px;
    }
    // Imagen borde redondeado
    .img-radius {
        border-radius: 10px 10px 0px 0px;
    }
    // //////////// Promociones
	// Precio sale
    .producto__item--sale {
        color: gainsboro;
		font-size: $textoMenor;
        text-decoration-line: line-through;
    }
}

// Vista tablet
@media only screen and (min-width:768px) and (max-width:1239px) {
    // Productos tienda
    .producto__item {
        border: 1px solid $palido;
        border-radius: 10px;
        padding: 0 20px 10px 20px;
        height: auto;
        margin-bottom: 20px;
        transition: all 500ms ease-out;
        min-height: 380px;
        &:hover {
            box-shadow: 0px 2px 15px 10px $palido;
        }
    }
    // Productos con flex
    .producto__item--flex {
        @include flex-column-align-center;
        h4 {
            height: 60px;
        }
    }
    // Precio producto
    .producto__item--price {
        font-size: $textoMedio;
		font-family: $fuente2;
        color: $beigeOscuro;
        margin-bottom: 15px;
    }
    // Botón agregar al carrito
    .producto__item--btn {
        background: $palido;
        font-size: $textoMenor;
        color: $escarcha;
        text-decoration: none;
        text-align: center;
        height: 30px; 
        width: 150px;
        margin-bottom: 15px;
        border-radius: 5px;
        &:hover {
            background: $beigeOscuro;
            color: beige;
        }
    }
    // Cuerpo descripción producto
    .producto__item:hover > .producto__desvanecer--body {
        opacity: 1;
    }
    // Descripción de producto
    .producto__desvanecer--body {
        opacity: 0;
        position: absolute;
    }
    .producto__desvanecer--info {
        background-image: linear-gradient(135deg, $crema 0%, $palido 100%);
        padding: 40px 20px;
        border-radius: 10px;
        min-height: 380px;
        h4 {
            width: 260px;
            border-bottom: 2px solid $rosaPolvo;
            padding-bottom: 5px;
        }
        ul {
            padding: 0;
            li {
                width: 260px;
                list-style: none;
                color: rosybrown;
                font-family: $fuente2;
                font-size: $textoMedio;
                text-align: justify;
                padding-top: 10px;
            }
        }
    }
    // Etiqueta marca del producto
    .producto--etiqueta {
        display: inline-block;
        padding: 5px 10px;
        font-size: $textoMedio;
        line-height: 1;
        background-color: $rosaPolvo;
        color: $crema;
        border-radius: 0px 10px 0px 0px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 5px;
    }
    // Imagen borde redondeado
    .img-radius {
        border-radius: 0px 0px 10px 10px;
    }
    // //////////// Promociones
	// Precio sale
    .producto__item--sale {
        color: gainsboro;
		font-size: $textoMedio;
        text-decoration-line: line-through;
    }
}

// Vista desktop
@media only screen and (min-width:1240px) {
    // Productos tienda
    .producto__item {
        border: 1px solid $palido;
        border-radius: 10px;
        padding: 0 30px 10px 30px;
        margin-bottom: 20px;
        transition: all 500ms ease-out;
        min-height: 450px;
        &:hover {
            box-shadow: 0px 2px 15px 10px $palido;
            cursor: pointer;
        }
    }
    // Precio producto
    .producto__item--price {
        font-size: $textoMedio;
		font-family: $fuente2;
        color: $beigeOscuro;
        margin-bottom: 15px;
    }
    // Productos con flex
    .producto__item--flex {
        @include flex-column-align-center;
    }
    // Botón agregar al carrito
    .producto__item--btn {
        background: $palido;
        font-size: $textoMenor;
        color: $escarcha;
        text-decoration: none;
        text-align: center;
        height: 30px;
        width: 150px;
        margin-bottom: 20px;
        border-radius: 5px;
        &:hover {
            background: $beigeOscuro;
            color: $palido;
        }
    }
    // Cuerpo información producto
    .producto__item:hover > .producto__desvanecer--body {
        opacity: 1;
    }
    // Información de producto
    .producto__desvanecer--body {
        opacity: 0;
        position: absolute;
    }
    .producto__desvanecer--info {
        background-image: linear-gradient(135deg, $crema 0%, $palido 100%);
        padding: 40px 20px;
        border-radius: 10px;
        min-height: 450px;
        h4 {
            width: 300px;
            border-bottom: 2px solid $rosaPolvo;
            padding-bottom: 5px;
            text-align: center;
        }
        ul {
            padding: 0;
            li {
                width: 300px;
                list-style: none;
                color: rosybrown;
                font-family: $fuente2;
                font-size: $textoMenor;
                padding: 0px 5px;
                text-align: justify;
            }
        }
    }
    // Etiqueta marca del producto
    .producto--etiqueta {
        display: inline-block;
        padding: 5px 10px;
        font-size: $textoMenor;
        line-height: 1;
        background-color: $rosaPolvo;
        color: $crema;
        border-radius: 0px 10px 0px 0px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 5px;
    }
    // Imagen borde redondeado
    .img-radius {
        border-radius: 0px 0px 10px 10px;
    }
    // //////////// Promociones
	// Precio sale
    .producto__item--sale {
        color: gainsboro;
		font-size: $textoMedio;
        text-decoration-line: line-through;
    }
}