$escarcha: #907369;
$palido: #E9DDD4;
$beigeOscuro: #B49C94;
$fuente1: 'Source Sans Pro', sans-serif;
$fuente2: 'Noto Sans TC', sans-serif;
$textoMenor: 1rem;
$textoMedio: 1.2rem;
$textoMayor: 1.5rem;