$escarcha: #907369;
$palido: #E9DDD4;
$beigeOscuro: #B49C94;
$rosaPolvo: #DAC4C0;
$crema: #F9F1F0;
$fuente1: 'Source Sans Pro', sans-serif;
$fuente2: 'Noto Sans TC', sans-serif;
$textoMenor: 1rem;
$textoMedio: 1.2rem;
$textoMayor: 1.5rem;
$textoMaximo: 2rem;


// Mixin
@mixin justify__content--between {
    display: flex;
    justify-content: space-between;
}
@mixin flex-column-align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin flex-column-justify-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
@mixin flex-direction-column {
    display: flex;
    flex-direction: column;
}
@mixin nav-decoracion {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
}
